.App {
  text-align: center;
  font-size: min(3vw, 10pt);
}

.App-header {
  padding-top: 3vw;
  justify-content: center;
  color: black;
  font-size: min(10vw, 54pt);
}

.copyright {
  display: relative;
  margin: auto;
  padding: 5px;
  width: 90%;
  max-width: 700px;
  font-family: 'Open Sans', sans-serif;
  font-size: min(2.0vw, 8pt);
}

label {
  display: inline-block;
  margin: 2px;
  text-align: right;
  cursor: default;
/*  width: 55%;*/
}
/*
.draftSettings label {
    width: 45%;
}
*/
.checkbox {
    margin-left: 4px;
    vertical-align: middle;
}

.settingsDiv {
    display: relative;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 95%;
    max-width: 700px;
    border: 2px solid black;
    background-color: #ebebeb;
    font-family: 'Open Sans', sans-serif;
  }

.settingsDiv label {
/*    width: 40%;*/
width: 30%;
}

.investigator-option {
    position: relative;
    display: inline-block;
    width: 58%;
    text-align: left;
}

.investigator-option label {
    width: 30%;
}

.investigator-option select {
/*    width: min(26%, 210px);*/
    width: 50%;
}

#button-random {
    position: absolute;
    top: 0px;
    height: 1.7em;
    width: 6em;
    font-size: min(2.7vw, 9pt);
    margin: 2px 0 2px 0;
    background-color: #60c060;
    color: #000000;
}

.pack-option label {
    width: 80%;
}

.draftsettings {
    width: 98%;
    margin: auto;
}

.draftsettings label {
    width: 48%;
}

.draft-option {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.draft-option select {
    width: 55%;
}

.draft-option input {
    width: 80%;
}

.draftphaseDiv {
    width: 94%;
    margin: 10px auto 0 auto;
    padding: 5px 10px 5px 5px; 
    border: black 1px solid;
}
  
.draftphase label {
    width: 58%;
}

.draftphase-option {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.draftphase-option input {
    width: 80%;
}

.exportsettings {
    width: 98%;
    margin: auto;
}

.export-option {
    display: inline-block;
    width: 60%;
    text-align: left;
}

.export-option label {
    width: 48%;
}

.export-option input {
    width: 95%;
}

.signatureDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5px;
}

.signatureLeft {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
    padding-right: 5px;
}

.signatureRight {
    flex-grow: 2;
    flex-basis: 0;
    text-align: left;
}

.signatureCenter {
    flex-grow: 1;
    text-align: center;
}

.set-checkbox {
    width: 20px;
    margin: 2px 2px 2px 10px;
    vertical-align: text-top;
}

.set-label {
    margin: 1px;
    text-align: left;
    vertical-align: text-bottom;
    width: 65%;
  }
  
.set-header {
    margin: 0;
    padding: 0 0 4px;  
}
select, input {
  display: inline-block;
  margin: 2px;
  width: min(35%, 300px);
  font-size: min(3vw, 10pt);
}

input[type="checkbox"] {
    height: auto;
    width: auto;
    margin-right: 4px;
}

.slider {
  vertical-align: bottom;
}

.description {
  margin: 10px auto 0 auto;
  padding: 5px;
  width: 80%;
  font-size: min(2.7vw, 9pt);
  border: black 1px solid;
}

.draft-type {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: flex-start;
}

.type-button {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 5px 0 5px 0;
  font-weight: bolder;
}

button {
    background: transparent;
    border: none;
}

.button-rect {
  margin-top: 5px;
  margin-bottom: 10px; 
  width: 100px;
  height: 30px;
  font-size: min(5vw, 10pt);
/*  background-color: #60c060; */
  border: black 1px solid;
}

.button-green {
    margin-top: 10px;
    background-color: #60c060;
    color: #000000;
}

.button-red {
    margin-top: 10px;
    background-color: #c03030;
    color: #000000;
}

.button-drawweakness {
    width: max(20%, 150px);
    height: 24px;
    font-size: min(3vw, 10pt);
    margin-top: 3px;
    margin-bottom: 15px;
}

.button-export {
    width: max(20%, 150px);
    height: 24px;
    font-size: min(3vw, 10pt);
    margin: 10px 10px 5px 10px;
}

.button-selectset {
    background-image: url('selectall.png');
    background-repeat: no-repeat;
    float: right;
    width: 14px;
    height: 14px;
    margin: 5px 2px 5px 5px;
    outline: none;
}

.button-deselectset {
    background-image: url('selectnone.png');
    background-repeat: no-repeat;
    float: right;
    width: 14px;
    height: 14px;
    margin: 5px 5px 5px 2px;
    outline: none;
}

.draft-button {
  margin: 0;
}

.sliderValue {
/*  margin-top: 2px;*/
  vertical-align: baseline;
  position: absolute;
  float: inline-end;
  margin-left: 3px;
}

.warning {
  margin-top: 5px;
  margin-bottom: -6px;
  padding: 0;
  color: red;
}
/*
.draftSettingsDraft {
  width: 94%;
  margin: 5px auto 0 auto;
}
*/
.investigator-image {
  margin: 5px 5px 0 5px;
  width: min(45%, 200px)
}

p {
  margin: 0;
  padding: 0;
  cursor: default;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.cardSet {
    position: relative;
    margin: 5px 5px 0 5px; 
    border: 1px solid black;
}

.col1 {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 5px 0 5px 20px;
  margin-left: 10px;
  margin-right: 3px;
  font-size: 10pt;
  text-align: left;
}

.col2 {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 5px 0 5px 20px;
  margin-right: 10px;
  margin-left: 3px;
  font-size: 10pt;
  text-align: left;
}

.colcenter {
    margin:  5px auto 0 auto;
    width: 45%;
    padding: 5px 20px 5px 20px;
    font-size: 10pt;
    text-align: left;
  }

@media only screen and (max-width:600px)
{
    .cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: flex-start;
        margin: 0;
        padding: 0;
      }
      
    .cardSet {
        position: relative;
        margin: 5px 5px 0 5px; 
        padding: 0;
        border: 1px solid black;
    }

    .col1 {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 5px 0 5px 20px;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 10pt;
        text-align: left;
      }

    .col2 {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 5px 0 5px 20px;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 10pt;
        text-align: left;
      }

      .colcenter {
        flex-grow: 2;
        flex-basis: 50%;
        padding: 5px 0 5px 20px;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 10pt;
        text-align: left;
      }    

      .button-random {
        position: absolute;
        top: 0px;
        height: 1.7em;
        width: 5.5em;
        font-size: 7pt;
        margin: 2px 0 2px 0;
        background-color: #60c060;
        color: #000000;
      }        
}

.draft-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
}

.draft-card {
  width: 110%;
  margin-bottom: 5px;
}

.draft-image {
  width: 80%;
}

.slot-header {
    font-size: 9pt;
    font-weight: bold;
    padding-top: 3px;
}

@media screen and (max-width: 600px) {
  .col1 {
    width: 100%;
  }
}

.floatingImageLeft {
    display: block;
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.floatingImageRight {
    display: block;
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}
