body {
  margin: 0;
/*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
*/
  font-family: sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dadada;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: 'Special Elite', cursive;
  margin: 0;
}

h2 {
  margin: 10px 0 -15px 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 10px 0 10px 0;
}

h4 {
  margin: 0;
  padding: 5px 0 0 0;
}

h5 {
  margin: -12px 0 5px 0;
  padding: 2px;
}